@media screen and (max-width: 800px) {
  #main {
    background-position: right 70px;
  }
  header .container {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: block;
    z-index: 999;
    transition: 500ms ease;
    margin-right: 25px;
  }

  .menu {
    position: absolute;
    top: 0;
    right: -100%;
    height: 250px;
    width: 100%;
    max-width: 230px;
    margin: 0;
    padding: 50px 0;
    background-image: linear-gradient(
      to bottom,
      #060606,
      #070707,
      #080808,
      #090909,
      #0a0a0a,
      #0b0b0b,
      #0c0c0c,
      #0d0d0d,
      #0e0e0e,
      #0f0f0f,
      #101010,
      #111111,
      #121212,
      #131313,
      #141414
    );
    flex-direction: column;
    transition: 0.5s ease;
  }

  .menu.active {
    right: 0;
  }

  .menu a {
    padding: 10px 0;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .description {
    width: 400px;
  }
}
